<app-top-bar></app-top-bar>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Benefícios</h4>
        </div>
        <div class="card-body">
            <table class="table  table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="no-sort">Excluir</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of array, let i = index">
                        <td>
                            <a class="delete" (click)="takeMessage(a.id)" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                <img src="../../assets/img/icons/trash.svg" alt="" srcset="">
                            </a>
                        </td>
                        <td>{{a.name}}</td>
                        <td>{{a.unitCost}}</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="d-flex justify-content-between flex-column  save-btn">
    
                <div class="pb-3 bt">
                    <a (click)="rollback()">
                        <img src="../../assets/img/icons/return.svg" alt="" srcset="">
                    </a>
                </div>
                <div class="bt">
                    <a data-bs-toggle="modal" data-bs-target="#Adicionar">
                        <img src="../../assets/img/icons/add.svg" alt="" srcset="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="Adicionar" tabindex="-1" aria-labelledby="AdicionarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="AdicionarlLabel">Adicionar Produto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body add">
                    <div class="element">
                        <label for="nome" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" id="nameAdicionar">
                    </div>
                    <div class="element">
                        <label for="preco" class="col-form-label">Preço:</label>
                        <input type="number" class="form-control" id="unitCostAdicionar">
                    </div>
                    <div class="element">
                        <label for="estoque" class="col-form-label">Estoque:</label>
                        <input type="number" class="form-control" id="stockAdicionar">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelAdd()">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="productRegister()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>