@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',  sans-serif;
    
}

body{
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-image: url("assets/img/bosch.svg");
  background-repeat: no-repeat; 
  background-size: cover; */
}

.container{
  width: 35%;
  background: rgb(255, 255, 255);
  padding: 25px 30px;
/*  box-shadow: 0px 10px 40px -12px #5a5c5f;*/
}

 .title{
  font-size: 25px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.container form .user-details{
  display: flex;
  margin: 20px 0 12px 0;
  flex-direction: column;
}

form .user-details .input-box{
  margin-bottom: 15px;
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border: 1px solid;
    border-color: rgb(97, 97, 97);
}
.btn-login{
  width: 100%;
  padding: 16px 0px;
  margin-top: 10px;
  text-transform: uppercase;
  justify-self: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
  border: none;
  transition: 0.5s;
  background-color: #2d7db5;  
}

@media only screen and (max-width: 1024px) {
  
  .container{
    width: 70%;
 
    }

    .container .title{
      font-size: 25px;
    } 

    .user-details .input-box input{
      height: 45px;
      width: 100% !important;
      outline: none;
      border: 1px solid #ccc;
      padding-left: 1rem;
      font-size: 15px;
      border-bottom-width: 2px;  
    }

}

@media only screen and (max-width: 300px) {
  
  .container{
    width: 100%;
 
    }
    .container .title{
      font-size: 20px;
      font-weight: 600;
    }

    .user-details .input-box input{
      height: 40px;
      width: 100% !important;
      outline: none;
      border: 1px solid #ccc;
      padding-left: 1rem;
      font-size: 15px;
      border-bottom-width: 2px;  
    }

}
